.carritoInputWrapper{
    margin-left: 20px;
    columns: auto 1;
}

.carritoObservaciones{
    margin-bottom: 10px;
}

.carritoObservacionesText{
    margin-right: 20px;
}

.carritoInputObservaciones{
    border-width: 1px;
    border-radius: 5px;;
    border-color: black;
    margin-right: 15px;
}

.carritoBotonQuitarOrden{
    background-color: #d9534f;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.carritoBotonGroup{
    float: right;
    margin-top: 50px;
}

.carritoBotonEnviar{
    background-color: #5cb85c;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.carritoBotonCancelar{
    background-color: #d9534f;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.carritoBotonMP{
    background-color: #386fb7;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}