.carritoInputWrapper{
    margin-left: 20px;
    columns: auto 1;
}

.carritoObservaciones{
    margin-top: 10px;
    margin-bottom: 10px;
}

.carritoObservacionesText{
    margin-right: 20px;
}

.carritoInputObservaciones{
    border-width: 1px;
    border-radius: 5px;;
    border-color: black;
    margin-right: 15px;
}

.carritoBotonGroup{
    float: right;
    margin-top: 50px;
}