.sinAsientos{
    background: #ce4843;
    color: #fff;
}

.añadirTicket{
    background-color: #5cb85c;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}