.tabla{
    width: 80%;
    font-size: .875rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #a0aec0;
}

.tablaHead{
    font-size: .75rem;
    color: #4a5568;
    text-transform: uppercase;
    background-color: rgb(249 250 251);
}

.tablaH{
    padding-right: 1.5rem; 
    padding-left: 1.5rem;

    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
}

.tablaRow{
    background: white;
    border: black;
}

.añadir-ticket{
    background-color: #5cb85c;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.restar-ticket{
    background-color: #d9534f;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}