.añadir-ticket{
    background-color: #5cb85c;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.restar-ticket{
    background-color: #d9534f;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}