.funcionesAsociadas{
    background-color: #5c67b8;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.infoPelicula{
    background-color: #5cb898;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.article {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.peliculasNombreHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.peliculasNombreTexto{
    font-size: 1.2em;
}

.peliculasSinopsisHeader {
    font-size: 1.5em;
    line-height: 1.4;
}

.peliculasSinopsisTexto{
    font-size: 1.2em; 
}

.peliculasErrorChatGPT {
    font-size: 1.5em;
    color: red;
}

.peliculasPortadaHeader {
    font-size: 1.5em;
}
