.peliculaArticulo {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.peliculaInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.peliculaNombreContainer {
    flex: 1;
    padding: 20px;
}

.peliculasPortadaContainer {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.peliculaPortada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peliculasPortadaContainerImagen {
    max-width: 100%;
    height: auto;
}

.peliculasReseñaContainer {
    width: 100%;
    margin-top: 20px;
}

.peliculasHeader{
    font-size: 2em;
    margin-bottom: 5px;  
}

.peliculasTexto{
    font-size: 1.25em;
}

.peliculasError{
    color: #d73737;
}
