
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5vh;
    text-align: center;
    color:darkslategrey;
}

.logo{
    position: fixed;
    bottom: 0;
    left: 90%;
    right: 0%;
    padding: 8px;
    max-width: 18vh;
}