.tabla_container{
    position: relative;
    overflow-x: auto;
    box-shadow: 0 4px 6px #0000001a;
}

.tabla{
    width: 100%;
    font-size: .875rem;
    text-align: center;
    padding: 0 10px;
    color: #000000;
}

.tablaHead{
    font-size: .75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #43505b;
    border: none;
}

.tablaHeadElem{
    padding: 0.75rem 1.5rem;
    border-right: 1px solid #000000;
}

.tablaBodyElem{
    padding: 0.75rem 1.5rem;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.tablaRow{
    background-color: #ffffff;
}

.tablaRow:hover{
    background-color:  #c1c1c1;
}

.tablaRow:focus{
    background-color:  #c1c1c1;
}

.tablaOscuro{
    background-color: #424e61;
    color: #ffffff;
}

.button{
    color: #fff;
    background-color: #6666b6;
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_confirmar{
    background-color: #217847;
}

.button_cancelar{
    background-color: #d73737;
}

.button_mp{
    background-color: #386fb7;
}

.button_login{
    background-color: #0033ff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button:hover{
    background-color: #ffffff;
    color:#000000;
}

.button:focus{
    background-color: #ffffff;
    color:#000000;
}

.button:disabled {
    background-color: #6f6e6ea5;
    color: #ffffff;
    cursor: not-allowed;
}

.requiredLabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.requiredAsterisco {
    color: #d73737;
    margin-left: 5px;
}

.requiredNota {
    margin-top: 20px;
    color: #d73737;
    font-size: 14px;
    text-align: center;
}

/* Celulares */
@media (max-width: 576px) {
    .tabla {
        font-size: 0.85rem;
    }
    .tablaHead{
        display: none;
    }
    .tablaRow{
        display: block;
        width: 100%;
        border-bottom: 1px solid #000000;
    }
    .tablaRow:last-child{
        margin-bottom: 0.5rem;
    }
    .tablaBodyElem{
        display: block;
        width: 100%;
        text-align: right;
        position: relative;
        border: 0;
        border-bottom: 1px dashed #000000;;
    }
    .tablaBodyElem:last-child{
        border-bottom: 0;
    }
    .tablaBodyElem::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        text-align: left;
        padding-left: 1.2rem;
    }
    .button {
        padding: 3px;
    }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
    .tabla {
        font-size: 0.9rem;
    }
    .tablaHead{
        display: none;
    }
    .tablaRow{
        display: block;
        width: 100%;
        border-bottom: 1px solid #000000;
    }
    .tablaRow:last-child{
        margin-bottom: 0.5rem;
    }
    .tablaBodyElem{
        display: block;
        width: 100%;
        text-align: right;
        position: relative;
        border: 0;
        border-bottom: 1px dashed #000000;;
    }
    .tablaBodyElem:last-child{
        border-bottom: 0;
    }
    .tablaBodyElem::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        text-align: left;
        padding-left: 1.2rem;
    }
    .button {
        padding: 4px;
        font-size: 1.2rem;
    }
}

/* Laptops */
@media (min-width: 769px) and (max-width: 992px) {
    .tabla {
        font-size: 0.875rem;
    }
    .tablaHeadElem, .tablaBodyElem {
        padding: 0.75rem 1.5rem;
    }
    .button {
        padding: 5px;
        margin-right: 5px;
        font-size: 0.875rem;
    }
    .button_login {
        padding: 10px;
        font-size: 16px;
    }
}

/* PC escritorio */
@media (min-width: 993px) and (max-width: 1200px) {
    .tabla {
        font-size: 0.925rem;
    }
    .tablaHeadElem, .tablaBodyElem {
        padding: 0.8rem 1.6rem;
    }
    .button {
        padding: 6px;
        margin-right: 6px;
        font-size: 0.925rem;
    }
    .button_login {
        padding: 11px;
        font-size: 17px;
    }
}

/* Computadora grande */
@media (min-width: 1201px) {
    .tabla {
        font-size: 1rem;
    }
    .tablaHeadElem, .tablaBodyElem {
        padding: 0.9rem 1.8rem;
    }
    .button {
        padding: 7px;
        margin-right: 7px;
        font-size: 1rem;
    }
    .button_login {
        padding: 12px;
        font-size: 18px;
    }
}