.tabla_container{
    position: relative;
    overflow-x: auto;
    box-shadow: 0 4px 6px #0000001a;
}

.tabla{
    width: 100%;
    font-size: .875rem;
    text-align: center;
    padding: 0 10px;
    color: #5a5d62;
}

.tablaHead{
    font-size: .75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #43505b;
    border: none;
}

.tablaHeadElem{
    padding: 0.75rem 1.5rem;
    border-right: 1px solid #000000;
}

.tableBodyElem{
    padding: 0.75rem 1.5rem;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.tablaRow{
    background-color: #ffffff;
}

.tablaRow:hover{
    background-color:  #c1c1c1;
}

.tablaOscuro{
    background-color: #424e61;
    color: #ffffff;
}

.button{
    color: #fff;
    background-color: #6666b6;
    border-color: #000000;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_confirmar{
    background-color: #2e8b57;
}

.button_cancelar{
    background-color: #d73737;
}

.button_mp{
    background-color: #386fb7;
}

.button_login{
    background-color: #007bff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.button:hover{
    background-color: #ffffff;
    color:#000000;
}