.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel .carousel-control-next-icon.changed {
    background-image: url("./arrow-right-solid.svg");
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carousel-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  }